:root {
  --primary-color: #4282b4;
  --darkblue: #020820;
  --primary-dark: #2e5b7e;
  --secondary-color: #ff7900;
  --secondary-dark: #ffa400;
  --overlay: rgba(0, 0, 0, 0.7);
}
@font-face {
  font-family: 'Cerebri Sans';
  font-weight: 300;
  font-style: normal;
  src: url('./CerebriSans/CerebriSans-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Cerebri Sans';
  font-weight: normal;
  font-style: normal;
  src: url('./CerebriSans/CerebriSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Cerebri Sans';
  font-weight: 600;
  font-style: normal;
  src: url('./CerebriSans/CerebriSans-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Cerebri Sans';
  font-weight: 700;
  font-style: normal;
  src: url('./CerebriSans/CerebriSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Cerebri Sans';
  font-weight: 800;
  font-style: normal;
  src: url('./CerebriSans/CerebriSans-ExtraBold.woff2') format('woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 150%;
}

body {
  margin: 0;
  font-family: 'Cerebri Sans', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.9rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.caritem {
  width: 6vw;
}
.slider {
  top: -10vh;
  opacity: 0.6;
  width: 80vw;
  margin: 0 auto;
}

.button {
  padding: 17px 28px;
  font-size: 0.8rem;
  color: #fff;
  font-weight: 600;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 40px;
  cursor: pointer;
  color: white !important;
}

.button:hover {
  background: var(--primary-dark);
  border: 1px solid var(--primary-dark);
}

.line {
  display: block;
  width: 40px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--primary-color);
}
